<div class="contenedorPagina">
    <div class="container">
        <div class="row contenedorTituloPagina">
            <div class="col-12">
                <h3 class="tituloPagina">GESTIÓN DE USUARIOS</h3>
            </div>
            <div class="col-12">
                <h3 class="subtituloPagina">
                    Administrar usuarios del sistema
                </h3>
                <button class="btn btn-secondary pull-right" (click)="verModal()"><em class="fas fa-user-plus"></em>
                    Crear Usuario</button>
            </div>
        </div>
        <div class="contenedorFormulario">
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table" id="tablaUsuarios">
                    <thead class="thead-light">
                        <tr class="custom-header-table">
                            <th scope="col">
                                NOMBRE
                            </th>
                            <th scope="col">
                                TIPO DOCUMENTO
                            </th>
                            <th scope="col">
                                NÚMERO DOCUMENTO
                            </th>
                            <th scope="col">
                                ESTADO
                            </th>
                            <th scope="col">
                                ACCIÓN
                            </th>
                        </tr>
                    </thead>
                    <tbody class="custom-body-table">
                        <tr *ngFor="let usuario of usuarios" style="font-size: 0.6rem;">
                            <td>
                                {{usuario.nombre}}
                            </td>
                            <td>
                                {{usuario.usuarioPK.tipoDocumento}}
                            </td>
                            <td>
                                {{usuario.usuarioPK.numDocumento}}
                            </td>
                            <td>
                                {{usuario.estado}}
                            </td>
                            <td>
                                <button class="btn btn-secondary col-lg-5 col-md-12  col-sm-12 col-xs-12"
                                    (click)="verModal(usuario)"> <em class="fas fa-user-edit"></em> Editar</button>
                                <confirmation-app-modal *ngIf="modalOptions" [msg]="modalOptions"
                                    (resp)="eliminarUsuario(usuario, $event)">
                                </confirmation-app-modal>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>