<div class="container">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" autofocus (click)="close('cerrar')"
            id="btnCloseModalUsuarios">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="row" style="padding-bottom: 2%;">
        <div class="col-12">
            <h1 *ngIf="editar" class="text-primary">
                Editar Usuario
            </h1>
            <h1 *ngIf="!editar" class="text-primary">
                Crear Usuario
            </h1>
            <div class="col-12">
                <label for="inputNombreUsuario">Nombre</label>
                <input type="text" id="inputNombreUsuario" class="form-control" lettersOnly uppercase>
            </div>
            <div class="col-12">
                <label for="selectTipoDocUsuario">
                    Tipo Documento
                </label>
                <select class="form-control" id="selectTipoDocUsuario">
                    <option *ngFor="let tipo of tipos">
                        {{tipo}}
                    </option>
                </select>
            </div>
            <div class="col-12">
                <label for="inputNumDocumento">
                    Numero Documento
                </label>
                <input type="text" id="inputNumDocumento" class="form-control" lettersAndNumbersOnly>
            </div>

            <div class="col-12">
                <label for="selectEstadoUsuario">
                    Estado
                </label>
                <select class="form-control" id="selectEstadoUsuario">
                    <option *ngFor="let estado of estados">
                        {{estado}}
                    </option>
                </select>
            </div>
            <div class="col-12" style="padding-top: 1%; padding-bottom:1%">
                <confirmation-app-modal *ngIf="modalOptions" [msg]="modalOptions" (resp)="handlerModal()">

                </confirmation-app-modal>
            </div>
        </div>
    </div>
</div>